<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.pages.favorites.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding standard-content-width mx-auto">
    <ion-card *ngIf="!listCharacters && !loading" color="light" class="ion-padding">
      {{ 'app.pages.favorites.noresults' | translate }}
    </ion-card>
    <ion-title>
      {{ 'app.pages.characters.title' | translate }}
    </ion-title>
    <ion-card *ngIf="listCharacters.length" color="light">
      <ion-card-content>
        <app-list-favorites
          [list]="listCharacters"
          (toggleAddToFavoritesEmitter)="toggleAddToFavorites($event)"
        ></app-list-favorites>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
