<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.pages.planets.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding standard-content-width mx-auto">

    <ion-text>WIP: This page will list planets using by calling a Parse Cloud Process that resides in the Node app from Back4app</ion-text>
    <!-- <ion-card *ngIf="!listCharacters && !loading" color="light" class="ion-padding">
      {{ 'app.pages.favorites.noresults' | translate }}
    </ion-card>
    <ion-title>
      {{ 'app.pages.planets.title' | translate }}
    </ion-title> -->
  </div>
</ion-content>
