<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/character"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app.pages.characters.view.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding standard-content-width mx-auto">
    <ion-card *ngIf="!loading.entity && !!selectedEntity.id; else skeleton">
      <ion-card-header>
        <ion-skeleton-text
          [hidden]="!loading.mainImg"
          animated
          style="width: 100%; height: 100px"
        ></ion-skeleton-text>
        <img (load)="onImageLoad()" src="{{ selectedEntity.img }}" alt="" />
        <ion-card-title>{{ this.selectedEntity.get('name') }}</ion-card-title>
        <ion-card-subtitle *ngIf="selectedEntity.get('homeworld')">
          {{ 'app.label.homeworld' | translate }}:
          {{ selectedEntity.get('homeworld').get('name') }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <table class="table table-sm">
          <tbody>
            <tr *ngIf="selectedEntity?.species?.length && !loading.additionalRelations">
              <th>{{ 'app.label.species' | translate }}</th>
              <td>
                <div *ngFor="let species of selectedEntity.species">
                  {{ species.get('name') | titlecase }}<br />
                </div>
              </td>
            </tr>
            <tr *ngIf="selectedEntity.get('birthYear')">
              <th>{{ 'app.label.birthyear' | translate }}</th>
              <td>{{ selectedEntity.get('birthYear') | uppercase }}</td>
            </tr>
            <tr *ngIf="selectedEntity.get('gender')">
              <th>{{ 'app.label.gender' | translate }}</th>
              <td>{{ selectedEntity.get('gender') | titlecase }}</td>
            </tr>
            <tr *ngIf="selectedEntity.get('eyeColor')">
              <th>{{ 'app.label.eyecolor' | translate }}</th>
              <td>{{ selectedEntity.get('eyeColor') | titlecase }}</td>
            </tr>
            <tr *ngIf="selectedEntity.get('hairColor')">
              <th>{{ 'app.label.haircolor' | translate }}</th>
              <td>{{ selectedEntity.get('hairColor') | titlecase }}</td>
            </tr>
            <tr *ngIf="selectedEntity.get('skinColor')">
              <th>{{ 'app.label.skincolor' | translate }}</th>
              <td>{{ selectedEntity.get('skinColor') | titlecase }}</td>
            </tr>
            <tr *ngIf="selectedEntity.get('height')">
              <th>{{ 'app.label.height' | translate }}</th>
              <td>{{ selectedEntity.get('height') }}</td>
            </tr>
            <tr *ngIf="selectedEntity.get('mass')">
              <th>{{ 'app.label.mass' | translate }}</th>
              <td>{{ selectedEntity.get('mass') }}</td>
            </tr>
          </tbody>
        </table>

        <div *ngIf="selectedEntity?.vehicles?.length; else noVehicles">
          <h2>{{ 'app.label.vehicles' | translate }}:</h2>
          <swiper class="ion-margin-top" [slidesPerView]="2" [spaceBetween]="20">
            <ng-template *ngFor="let vehicle of selectedEntity.vehicles" swiperSlide>
              <img src='https://dummyimage.com/100x100.png' alt='' />
              {{ vehicle.get('name') | titlecase }}
            </ng-template>
          </swiper>
        </div>

        <ng-template #noVehicles>
          <ion-spinner *ngIf="loading.additionalRelations"></ion-spinner>
          <ion-text *ngIf="!loading.additionalRelations">
            {{ 'app.label.novehicles' | translate }}.
          </ion-text>
        </ng-template>
      </ion-card-content>
    </ion-card>

    <ng-template #skeleton>
      <ion-card>
        <ion-card-header>
          <ion-skeleton-text
            animated
            style="width: 100%; height: 100px"
          ></ion-skeleton-text>
          <ion-skeleton-text
            class="mt-3"
            animated
            style="width: 50%; height: 30px"
          ></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
          <table class="table table-sm">
            <tbody>
              <tr>
                <th>
                  <ion-skeleton-text
                    animated
                    style="width: 70%"
                  ></ion-skeleton-text>
                </th>
                <td>
                  <ion-skeleton-text
                    animated
                    style="width: 40%"
                  ></ion-skeleton-text>
                </td>
              </tr>
              <tr>
                <th>
                  <ion-skeleton-text
                    animated
                    style="width: 70%"
                  ></ion-skeleton-text>
                </th>
                <td>
                  <ion-skeleton-text
                    animated
                    style="width: 40%"
                  ></ion-skeleton-text>
                </td>
              </tr>
              <tr>
                <th>
                  <ion-skeleton-text
                    animated
                    style="width: 70%"
                  ></ion-skeleton-text>
                </th>
                <td>
                  <ion-skeleton-text
                    animated
                    style="width: 40%"
                  ></ion-skeleton-text>
                </td>
              </tr>
              <tr>
                <th>
                  <ion-skeleton-text
                    animated
                    style="width: 70%"
                  ></ion-skeleton-text>
                </th>
                <td>
                  <ion-skeleton-text
                    animated
                    style="width: 40%"
                  ></ion-skeleton-text>
                </td>
              </tr>
              <tr>
                <th>
                  <ion-skeleton-text
                    animated
                    style="width: 70%"
                  ></ion-skeleton-text>
                </th>
                <td>
                  <ion-skeleton-text
                    animated
                    style="width: 40%"
                  ></ion-skeleton-text>
                </td>
              </tr>
              <tr>
                <th>
                  <ion-skeleton-text
                    animated
                    style="width: 70%"
                  ></ion-skeleton-text>
                </th>
                <td>
                  <ion-skeleton-text
                    animated
                    style="width: 40%"
                  ></ion-skeleton-text>
                </td>
              </tr>
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>
</ion-content>
