<section class="cards">
  <article *ngFor="let entry of list; let i = index">
    <ion-card tappable (click)="onChararacterClick(entry)">
      <ion-img [src]="entry?.img"></ion-img>
      <ion-card-title>
        {{ entry.get('name') }}
      </ion-card-title>
      <div class="boxshadow"></div>
      <ion-card-content>
        <ion-badge
          color="{{ entry?.isFavorite ? 'success' : 'primary' }}"
          tappable
          (click)="toggleAddToFavorites(entry)"
        >
          <ion-icon
            name="{{ entry?.isFavorite ? 'star' : 'star-outline' }}"
          ></ion-icon>
        </ion-badge>
        <ion-badge class="gender-pill" *ngIf="entry.get('gender')">
          <ion-icon name="{{ entry.genderIcon }}"></ion-icon>
        </ion-badge>
        <ion-badge
          *ngIf="entry.get('homeworld')?.get('name')"
          class="planet-pill"
          color="tertiary"
        >
          <ion-icon name="planet"></ion-icon>
          {{ entry.get('homeworld').get('name') }}
        </ion-badge>
        <!-- <ion-badge
          ngxTippy
          color="secondary"
          [tippyProps]="{
            allowHTML: true,
            content: entry.tippyContent
          }"
        >
          <ion-icon name="information-circle"></ion-icon>
        </ion-badge> -->
      </ion-card-content>
    </ion-card>
  </article>
</section>

<ion-infinite-scroll
  *ngIf="!this.lastPage"
  threshold="400px"
  (ionInfinite)="loadMore()"
>
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
