<ion-item *ngFor="let item of list">
  <ion-avatar slot="start">
    <img [src]="item.img?.images.original.url" />
  </ion-avatar>

  <ion-label>
    <!-- <p class="text-smaller">id: {{ item.id }}</p> -->
    <h2>{{ item.get('name') }}</h2>
    <h3>{{ item.get('gender') | titlecase }}</h3>
    <p>{{ item.get('homeworld').get('name') }}</p>
  </ion-label>

  <ion-button
    color="{{ item?.isFavorite ? 'success' : 'primary' }}"
    (click)="toggleAddToFavorites(item)"
  >
    <ion-icon
      name="{{ item?.isFavorite ? 'star' : 'star-outline' }}"
    ></ion-icon>
  </ion-button>
</ion-item>

<ion-infinite-scroll
  *ngIf="!this.lastPage"
  threshold="400px"
  (ionInfinite)="loadMore()"
>
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
