<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Observables Playground </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding standard-content-width mx-auto">
    <div [innerHTML]="this.headerData"></div>

    <ion-card class="ion-padding">
      <code> from() </code><br />
      {{ this.favorites$| async | json }}
    </ion-card>

    <ion-card class="ion-padding">
      <code> pipe(first()) </code><br />
      {{ this.usingFirst$ | async | json }}
    </ion-card>

    <ion-card class="ion-padding">
      <code> pipe(take(3)) </code><br />
      {{ this.usingTake$ | async | json }}
    </ion-card>
  </div>
</ion-content>
