<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.pages.characters.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding standard-content-width mx-auto">
    <ion-searchbar
      slot="fixed"
      color="medium"
      placeholder="{{ 'app.button.search' | translate }}"
      inputmode="text"
      [(ngModel)]="searchCriteria"
      (ionChange)="search()"
      (debounce)="(500)"
    ></ion-searchbar>

    <ion-card *ngIf="list.length" color="light">
      <ion-card-header>
        <ion-card-title>
          {{ 'app.pages.characters.title' | translate }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-list-character
          [list]="list"
          (toggleAddToFavoritesEmitter)="toggleAddToFavorites($event)"
        ></app-list-character>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
