<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.pages.characters.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar
  slot="fixed"
  color="light"
  placeholder="{{ 'app.button.search' | translate }}"
  inputmode="text"
  [(ngModel)]="searchCriteria"
  (ionChange)="criteriaChangedManually()"
  (ionClear)="clearSearchBar()"
  (debounce)="(500)"
></ion-searchbar>

<ion-content>
  <div class="ion-padding standard-content-width mx-auto">
    <ion-button
      color="medium"
      class="mb-2"
      data-bs-toggle="collapse"
      data-bs-target="#collapseFilters"
      aria-expanded="false"
      aria-controls="collapseFilters"
    >
      <ion-icon name="filter"></ion-icon>&nbsp; {{ 'app.pages.characters.editsearchfilters' | translate }}
    </ion-button>
    <div class="collapse" id="collapseFilters">
      <div class="card card-body">
        <ion-list>
          <ion-item *ngFor="let entry of searchFilters" lines="none">
            <ion-label>{{ entry.title }}</ion-label>
            <ion-checkbox
              slot="start"
              [(ngModel)]="entry.value"
              (ngModelChange)="filterChanged()"
            ></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <ion-refresher
      slot="fixed"
      (ionRefresh)="this.doRefresh($event)"
      pullFactor="0.8"
      pullMin="60"
      pullMax="120"
    >
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-spinner
      *ngIf="loading && this.searchCriteria.length > 0"
      class="centerSpinner"
      color="light"
    ></ion-spinner>

    <ion-item lines="none" *ngIf="this.noResults && !loading">
      <p>
        {{ 'app.label.noresults' | translate }} '{{ this.searchCriteria }}'.
      </p>
    </ion-item>

    <div *ngIf="list.length && !loading">
      <app-list-character
        [list]="list"
        [lastPage]="lastPage"
        (toggleAddToFavoritesEmitter)="toggleAddToFavorites($event)"
        (loadMoreEmitter)="loadMore()"
        (chararacterClickEmitter)="view($event)"
      ></app-list-character>
    </div>
  </div>
</ion-content>
