<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'app.pages.characters.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding standard-content-width mx-auto">
    <ion-searchbar
      slot="fixed"
      color="medium"
      placeholder="{{ 'app.button.search' | translate }}"
      inputmode="text"
      [(ngModel)]="searchCriteria"
      (ionChange)="search()"
      (ionClear)="clearSearchBar()"
      (debounce)="(500)"
    ></ion-searchbar>

    <ion-refresher
      slot="fixed"
      (ionRefresh)="this.doRefresh($event)"
      pullFactor="0.8"
      pullMin="60"
      pullMax="120"
    >
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-spinner
      *ngIf="loading && this.searchCriteria.length > 0"
      class="centerSpinner"
    ></ion-spinner>

    <ion-item lines="none" *ngIf="this.noResults && !loading">
      <p>
        {{ 'app.label.noresults' | translate }} '{{ this.searchCriteria }}'.
      </p>
    </ion-item>

    <ion-card *ngIf="list.length && !loading" color="light">
      <ion-card-content>
        <app-list-character
          [list]="list"
          [lastPage]="lastPage"
          (toggleAddToFavoritesEmitter)="toggleAddToFavorites($event)"
          (loadMoreEmitter)="loadMore()"
        ></app-list-character>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
